<a href="https://colab.research.google.com/github/Lukin559/lessons/blob/master/Homework10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# union
# isdisjoint
set_1 = {1, 2}
set_2 = {3}
set_3 = {4, 5}
set_4 = {3, 2, 6}
set_5 = {6}
set_6 = {7, 8}
set_7 = {9, 8}



x = set_1.isdisjoint(set_6)
x

True

In [ ]:
set_1 = {1, 2}
set_2 = {3}
set_3 = {4, 5}
set_4 = {3, 2, 6}
set_5 = {6}
set_6 = {7, 8}
set_7 = {9, 8}
set_8 = (set_1, set_2, set_3, set_4, set_5, set_6, set_7)

for i in set_8:
  if i.isdisjoint(i) == False:
    i.update(i)
    print(i)

In [ ]:
stroka = "Мармелад"
count = 0
for i in range(len(stroka)):
  if stroka[i] != stroka[i]:
    count += 1

count

0

In [ ]:
stroka = set("Мармелад".lower())
len(stroka)

6

In [ ]:
from random import randint

a = [ randint (1, 20) for i in range(20) ]
b = [ randint (1, 20) for i in range(20) ]
a = set(a)
b = set(b)
x = a & b
x = list(x)
sorted(x)

[1, 2, 4, 5, 6, 8, 9, 10, 14, 19, 20]

In [17]:
def leap_year(x):
  if x % 4 == 0 and not x % 100 == 0:
      return True
  elif  x % 400 == 0:
      return True
  else:
      return False


def is_it_real_date_or_no(day, month, year):
  if day > 31 or day < 1:
    return False
  if month > 12 or month < 1:
    return False
  if year < 1:
    return False
  if month in ( 4, 6, 9, 11) and day > 30:
    return False
  if month in ( 4, 6, 9, 11) and day < 31 and day > 0:
    return True
  if month in (1, 3, 5, 7, 8, 10, 12) and day < 32 and day > 0:
    return True
  if leap_year(year) == False and month == 2 and day > 28:
    return False
  if leap_year(year) == True and month == 2 and day < 30 and day > 0:
    return True
  if leap_year(year) == False and month == 2 and day < 29 and day > 0:
    return True
  if leap_year(year) == True and month == 2 and day > 29 or day < 0:
    return False

In [20]:
is_it_real_date_or_no(31, 4, 2012)

False